<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#DB0000"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="manifest" href="./app.webmanifest">
    
    <link rel="icon" href=".\images\logo.png" alt="logo" />

    <meta name="dicoding:email" content="lussyanast@gmail.com">
    <title>Bajobliss</title>
</head>
<body>
  <menu-bar></menu-bar>
  <main id="mainContent"></main>
  <my-footer></my-footer>
</body>
</html>
