@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #6E94BC;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid white 1px;
    color: white;
    z-index: 1000;
}

.app-name h1 {
    font-family: "Sail";
    color: #0077B6;
    font-weight: 300;
    font-size: 30px;
}

.nav-web, .nav-user {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a, p, i {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

h4 {
    color: white;
    font-size: 20px;
}

/* Main */
.main-content {
    flex: 1;
    padding: 80px 20px 60px 20px;
}

/* Jumbotron */
.jumbotron {
    background: url(../public/images/labuan-bajo.jpg) no-repeat center/cover;
}

.jumbotron-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../public/images/faq.png) no-repeat center/cover;
    height: 100%;
}

.faq-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 12% 30%;
    padding-block: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    gap: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.jumbotron h1, .jumbotron-faq h1 {
    text-align: center;
    font-family: "Sail";
    color: #0077B6;
    font-weight: 300;
}

.jumbotron h1 {
    padding-block: 14% 26%;
    font-size: 80px;
}

.jumbotron-faq h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.jumbotron-faq p  {
    font-weight: 400;
}

/* Faq */
.faq-list {
    padding: 5% 20%;
    background-color: #E6F4F1;
}

.faq-item {
    margin-block: 2%;
}

.faq-panel p {
    font-size: 15px;
}

.faq {
    background-color: #0077B6;
    color: #444;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active{
    background-color: #0077B1; 
    border-radius: 20px 20px 0 0;
}

.faq-panel {
    padding: 0 2% 2% 2%;
    display: none;
    background-color: #0077B6;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

/* Feedback */
.feedback {
    padding: 10px;
    background-color: #E3E9EF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.feedback h2 {
    text-align: center;
    color: #0077B6;
    margin-bottom: 10px;
    font-size: 18px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    color: #333;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn {
    align-self: center;
    padding: 8px 16px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.submit-btn:hover {
    background-color: #005f99;
}

/* Footer */
footer {
    background-color: #3C4856;
    color: white;
    padding: 15px;
    text-align: center;
}

.foo-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; 
}

.foo-bar > div {
    flex: 1 1 150px; 
    margin: 5px; 
}

.foo-name {
    text-align: left;
}

.foo-name h1 {
    font-family: "Sail";
    color: #0077B6;
    font-weight: 300;
    font-size: 30px;
}

.foo-web, .foo-bajo {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    text-align: left;
}

.foo-bar a {
    font-size: 14px; 
}

.foo-bar h4 {
    font-size: 18px; 
}

.credit {
    margin-top: 15px; 
    font-size: 12px;
    text-align: right;
}

/* Search */
.search-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    background-color: #6E94BC;
    padding-top: 60px; 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 500px;
}

#searchButton {
    background-color: #0077B6;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#searchButton i {
    color: white;
}

/* Profile */
.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6E94BC;
    padding: 20px;
}

.profile, .edit-profile-form {
    background-color: #E3E9EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.profile h1, .edit-profile-form h1 {
    color: #4A90E2;
    margin-bottom: 20px;
    font-size: 24px;
}

.profile-details, .edit-profile-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image img, .edit-profile-form .profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 22px;
}

.profile-info p, .address p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.address h3 {
    color: #333;
    margin-bottom: 10px;
}

.edit-profile-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.edit-profile-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-profile-form .profile-image {
    text-align: center;
    margin-bottom: 15px;
}

.edit-profile-form .upload-photo-btn, .edit-profile-form .submit-btn, .edit-profile-btn, .logout {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 24px;
    background-color: #0077B6;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.edit-profile-form .upload-photo-btn:hover, .edit-profile-form .submit-btn:hover, .edit-profile-btn:hover {
    background-color: #005f99;
}

.logout {
    color: #0077B6;
    text-decoration: none;
    background-color: #E3E9EF;
}

.logout:hover {
    background-color: #D3D9DF;
}

/* Category */
.category-section {
    text-align: center;
    padding: 60px 20px;
}

.category-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category-item {
    background-color: #E3E9EF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.category-image {
    background-color: #cfcfcf;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.category-image i {
    font-size: 24px;
    color: #888;
}

.category-text {
    font-size: 16px;
    color: #333;
}

/* Product Section */
.product-section {
    text-align: center;
    padding: 40px 20px;
    
    flex: 1;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-title {
    font-size: 24px;
    color: #333;
    margin-top: 50px;
}

.filter-button, .page-button, .actions button, .customer-reviews button {
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsif */
    gap: 30px;
}

.product-item {
    background-color: #E3E9EF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    background-color: #cfcfcf;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info {
    text-align: left;
}

.product-text {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.product-price-stock, .product-rating {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: #0077B6;
}

.product-stock {
    font-size: 14px;
    color: #333;
}

.rating-stars {
    color: #FFD700;
}

.rating-count {
    font-size: 14px;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Product Detail */
.product-detail {
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-detail h2, .product-description h2, .customer-reviews h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0077B6;
}

.product-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.breadcrumb a {
    color: #0077B6;
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.price {
    font-size: 24px;
    color: #0077B6;
    margin-bottom: 20px;
}

.variants, .quantity, .actions {
    margin-bottom: 20px;
}

.variants button, .quantity button {
    background-color: #0077B6;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.quantity input {
    width: 50px;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.actions .buy-now {
    background-color: #005f99;
}

.reviews {
    font-size: 16px;
    color: #FFD700;
}

.product-description p {
    font-size: 16px;
    line-height: 1.6;
}

/* login */
.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-page h2 {
    text-align: center;
    margin-top: 150px;
    color: #ffffff;
    font-size: 24px;
}

.login-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    text-align: right;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-container {
    text-align: center;
    margin-bottom: 200px;
    width: 100%;
}

.signup-text {
    color: #000000;
}

.signup-link {
    color: #0077B6;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}

/* Signup Page */
.signup-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.signup-page h2 {
    text-align: center;
    margin-top: 150px;
    color: #ffffff;
    font-size: 24px;
}

.signup-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}