@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #6E94BC;
}

/*
    Header
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid white 1px;
    color: white;
    z-index: 1000;
}

.app-name h1 {
    font-family: "Sail";
    color: #0077B6;
    font-weight: 300;
    font-size: 30px;
}

.nav-web, .nav-user {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a, p, i {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

h4 {
    color: white;
    font-size: 20px;
}

/* Main 
main {
    flex: 1;
    padding: 60px 20px 20px 20px; /* Padding top untuk mencegah tumpang tindih dengan header 
} */
/*
    Jumbotron
*/

.jumbotron {
    background: url(../public/images/labuan-bajo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbotron-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../public/images/faq.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}

.faq-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 12% 30%;
    padding-block: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    gap: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.jumbotron h1{
    text-align: center;
    padding-block: 14% 26%;
    font-family: "Sail";
    color: #0077B6;
    font-weight: 300;
    font-size: 80px;
}

.jumbotron-faq h1 {
    color: #0077B6;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.jumbotron-faq p  {
    font-weight: 400;
}

/*
    Faq
*/

.faq-list {
    padding: 5% 20%;
    background-color: #E6F4F1;
}

.faq-item {
    margin-block: 2%;
}

.faq-panel p {
    font-size: 15px;
}

.faq {
    background-color: #0077B6;
    color: #444;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active{
    background-color: #0077B1; 
    border-radius: 20px 20px 0 0;
}

.faq-panel {
    padding: 0 2% 2% 2%;
    display: none;
    background-color: #0077B6;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

/*
    Feedback
*/

.feedback {
    bottom: 0;
    right: 0;
}

/*
    Footer
*/

footer {
    background-color: #3C4856;
    color: white;
    padding: 15px;
    text-align: center;
}

.foo-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; 
}

.foo-bar > div {
    flex: 1 1 150px; 
    margin: 5px; 
}

.foo-name {
    text-align: left;
}

.foo-name h1 {
    font-family: "Sail";
    color: #0077B6;
    font-weight: 300;
    font-size: 30px;
}

.foo-web, .foo-bajo {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    text-align: left;
}

.foo-bar a {
    font-size: 14px; 
}

.foo-bar h4 {
    font-size: 18px; 
}

.credit {
    margin-top: 15px; 
    font-size: 12px;
    text-align: right;
}

/* Search */
.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 175px);
    background-color: #6E94BC;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 500px;
}

#searchButton {
    background-color: #0077B6;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#searchButton i {
    color: white;
}

/*
    Profile
*/
.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6E94BC;
    padding: 20px;
}

.profile {
    background-color: #E3E9EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.profile h1 {
    color: #4A90E2;
    margin-bottom: 20px;
    font-size: 24px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 22px;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.address {
    margin-top: 20px;
}

.address h3 {
    color: #333;
    margin-bottom: 10px;
}

.address p {
    margin: 3px 0;
    color: #666;
    font-size: 14px;
}

.edit-profile-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 24px;
    background-color: #0077B6;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.edit-profile-btn:hover {
    background-color: #005f99;
}

.logout {
    display: inline-block;
    margin-top: 20px;
    color: #0077B6;
    text-decoration: none;
    font-size: 16px;
    background-color: #E3E9EF;
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
}

.logout:hover {
    background-color: #D3D9DF;
}

/* Category */

.category-section {
    text-align: center;
    padding: 60px 20px;
}

.category-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category-item {
    background-color: #E3E9EF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.category-image {
    background-color: #cfcfcf;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.category-image i {
    font-size: 24px;
    color: #888;
}

.category-text {
    font-size: 16px;
    color: #333;
}

/* Product Section */
.product-content {
    padding-top: 60px; /* Ensure it does not overlap with the header */
}

.featured-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #a0b9d6;
}

.featured-product-image {
    background-color: #cfcfcf;
    padding: 100px;
    border-radius: 10px;
    text-align: center;
}

.featured-product-image i {
    font-size: 48px;
    color: #888;
}

.featured-product-text {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.product-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-title {
    font-size: 24px;
    color: #333;
}

.filter-button {
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #E3E9EF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    background-color: #cfcfcf;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-image i {
    font-size: 24px;
    color: #888;
}

.product-info {
    text-align: left;
}

.product-text {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.product-price-stock {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: #0077B6;
}

.product-stock {
    font-size: 14px;
    color: #333;
}

.product-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-stars {
    color: #FFD700;
}

.rating-count {
    font-size: 14px;
    color: #666;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-button {
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Product Detail */

.product-detail {
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-header h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0077B6;
}

.product-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-image {
    flex: 1;
    background-color: #E3E9EF;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info {
    flex: 2;
}

.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #0077B6;
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.price {
    font-size: 24px;
    color: #0077B6;
    margin-bottom: 20px;
}

.variants, .quantity {
    margin-bottom: 20px;
}

.variants button, .quantity button {
    background-color: #0077B6;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.quantity input {
    width: 50px;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.actions {
    margin-bottom: 20px;
}

.actions button {
    background-color: #0077B6;
    color: #FFF;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.actions .buy-now {
    background-color: #005f99;
}

.reviews {
    font-size: 16px;
    color: #FFD700;
}

.product-description, .customer-reviews {
    margin-top: 40px;
}

.product-description h2, .customer-reviews h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 16px;
    line-height: 1.6;
}

.customer-reviews button {
    background-color: #0077B6;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}